<html>
  <head>
    <title> Chandraj Billing </title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1> Billing </h1>
    <div id="todo-table">
      <form>
        <input type="text" name="item" placeholder="New item...." required/>
        <input type="number" step="0.01" name="rate" placeholder="0.0" required/>
        <input type="number" name="quantity" placeholder="0" required/>
        <button type="submit"> Add item </button>
      </form>
      <ul>
        <li> Item 1</li>
        <li> Item 2</li>
        <li> Item 3</li>
      </ul>

    </div>
</html>
