<html>
  <head>
    <title> Chandraj Billing </title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="/assets/list.js"></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">HOME</a>
      <a href="/billing">BILLING</a>
      <a href="/about">ABOUT</a>
    </div>
    <div class="social">
      <img src="/assets/office.jpg" style="width:50% ;height:50%; align:center">
    </div>
    <div>
      <p><b>1. What are the various mode of payment accepted here ?</b><br>
You can make payment Via Cash, Master Card, Visa Card, Debit Cards, Cheques, American Express Card, Credit Card.<br>
<b>2. Which is the nearest landmark ?</b><br>
You can easily locate the establishment as it is in close proxomity to Opposite New Court Building<br>
<b>3. What are its hours of operation ?</b><br>
The establishment is functional on
Monday:- 8:00 Am - 8:00 Pm<br>
Tuesday:- 8:00 Am - 8:00 Pm<br>
Wednesday:- 8:00 Am - 8:00 Pm<br>
Thursday:- 8:00 Am - 8:00 Pm<br>
Friday:- 8:00 Am - 8:00 Pm<br>
Saturday:- 8:00 Am - 8:00 Pm<br>
Sunday:- Closed<br>
  </p>
    </div><br><hr>
    <div class="social">
      <a href="https://www.facebook.com/hemal.desai.773" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google"></a>
    </div>
  </body>
</html>
