<html>
  <head>
    <title> Chandraj Billing </title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="/assets/list.js"></script>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">HOME</a>
      <a href="/billing">BILLING</a>
      <a href="/about">ABOUT</a>
    </div>
    <div>
      Welcome to Chandraj Commercial Centre
    </div>
  </body>
</html>
